/* Global ==========================================================================*/
:root {
    --color-main: #ffffff;
    --color-primary: #568aecb6;
    --color-secundary: #161616; 
    --color-tertiary: #011149;
    --color-contrast: #9b999960;
    --color-income: #3ba520;
    --color-expense: #b83b3b;
}

* {/* select all components in document*/
    margin: 0; /*espaçamentos dos elementos*/
    padding: 0; /*preenchimento dos elementos*/
    box-sizing: border-box; /*contagem a partir da borda*/
}

html {
    font-size: 93.75%;
}

.sr-only{
    position: absolute;
    width: 1px; /* largura*/
    height: 1px; /* altura*/
    padding: 0; 
    margin: -1px; /* margem*/
    overflow: hidden; /*estado do elemento - hidden(escondido)*/
    clip: rect(0, 0, 0, 0); /*o conteudo do elemento ficará contido dentro do elemento setado(0, 0, 0, 0)*/ 
    white-space: nowrap; /*nowrap- nao permite espaços dentro do elemento*/
    border-width: 0; /*espessura da borda do elemento*/

}

.conteiner{
    width: min(90vw,800px);/*definir o tamanho do conteudo*/
    /*min() vai sempre deixar o menor dos dois valores*/
    margin: auto;
}

/* Titles ==========================================================================*/
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem; /* espaçamento abaixo dele*/
    color: var(--color-tertiary);

    font-weight: normal;
}
/* Links and bottons ==========================================================================*/
a {
    color: var(--color-income);
    opacity: 0.8;
    text-decoration: none; /*remove o sublinhado*/
}

a:hover {
    opacity: 1;
}

.button.new {
    display: inline-block; /*para limitar acesso no botao*/
    margin-bottom: 0.8rem; /*só vai funcionar se tiver display block*/
}


/* Body ==========================================================================*/
body {
    background: var(--color-contrast);
    font-family: 'Poppins', sans-serif;
}

/* Header ==========================================================================*/
header {
    background: var(--color-primary);
    padding: 2rem 0 10rem;
    text-align: center; /*alinhamento do conteudo centralizado*/
}

#logo {
    font-family: 'Roboto Slab', sans-serif;
    color: var(--color-tertiary);
    font-weight: 200; /*peso da fonte - espessura*/

}
/* Control Box ==========================================================================*/
#control-box {
    margin-top: -8rem; /* posição do topo em relação ao elemento de cima*/
}
#control-box h2 {
    color: var(--color-secundary);
    margin-top: 0;
}
/* Cards ==========================================================================*/
.card {
    font-family: 'Roboto Slab', sans-serif;
    background: var(--color-main);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;  /*Arredondamento da borda*/
    
    margin-bottom: 2rem;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex; /*permite o comportamento inline dentro do elemento*/
    align-items: center; /*alinhamento centro x centro */
    justify-content: space-between; /*arranjar no eixo x o espaço entre os elementos*/
}

.card p {
    font-size: 2rem;
    line-height: 3rem;/*separação da linha - de uma linha até a outra*/

    margin-top: 1rem;
}

.card.income p {
    color: var(--color-income);
}

.card.expense p {
    color: var(--color-expense);
}

.card.total {
    background: var(--color-income);
    color: var(--color-secundary)
}
/* Transaction ==========================================================================*/
#transaction {
    display: block; /*bloqueio a caixa que contem a tabela*/
    overflow-x: auto; /*quando transborda algo fora da tela, pode-se usar overflow*/
    /*significa que quando nescessário, no eixo x, permite deslisar para os lados*/
}

/* Table ==========================================================================*/
#data-table {
    color: var(--color-tertiary);
    width: 100%;
    border-spacing: 0 0.5rem; /* espaçamento entre as bordas dos elementos - horizontal x vertical*/  
}

table thead tr th:first-child, table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child, table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table tbody tr {
    opacity: 0.7; /* opacidade do elemento*/
}

table tbody tr:hover {
    opacity: 1;
}

table thead th{
    background: var(--color-main);
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    padding: 1rem 2rem;
    
    text-align: left;
}

table tbody td{
    background: var(--color-main);

    padding: 0.5rem 2rem;
    font-weight: normal;
}

td.description {
    color: var(--color-tertiary);
}

td.income {
    color: var(--color-income);
}

td.expense {
    color: var(--color-expense);
}

/* footer ==========================================================================*/
footer{
    text-align: center;
    background: var(--color-primary);
    padding: 3rem 0 3rem;
    margin-top: 3rem;
}
footer p {
    color: var(--color-secundary)
}

/* Resposive ==========================================================================*/
@media (min-width: 800px) {/*siginifica: colocar um tamanho reduzido quando a largura do diplay ficar menor que 800px*/
    html {
        font-size: 87,5%;
    }
    #control-box {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; /*quantas frações firacará dividido os elementos*/ /*pode ser usado (repeat(3, 1fr))*/
        gap: 2rem; /*espaços entre os elementos em linha*/
    }
}