/* Global ==========================================================================*/
:root {
    --color-main: #0f75c9;
    --color-primary: #f0f2f5;
    --color-secundary: #ffffff; 
    --color-tertiary: #011149;
    --color-contrast: #83b1c7;
    --color-green: rgb(25, 114, 3);
}

* {/* select all components in document*/
    margin: 0; /*espaçamentos dos elementos*/
    padding: 0; /*preenchimento dos elementos*/
    box-sizing: border-box; /*contagem a partir da borda*/
}

.conteiner{
    width: min(90vw,800px);/*definir o tamanho do conteudo*/
    /*min() vai sempre deixar o menor dos dois valores*/
    margin: auto;
}
/* Titles ==========================================================================*/
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem; /* espaçamento abaixo dele*/
    color: var(--color-tertiary);

    font-weight: normal;
}

/* Body ==========================================================================*/
body {
    background: var(--color-primary);
    font-family: 'Poppins', sans-serif;
}

/* Header ==========================================================================*/
header {
    background: var(--color-main);
    padding: 2rem 0 10rem;
    text-align: center; /*alinhamento do conteudo centralizado*/
}

#logo {
    font-family: 'Roboto Slab', sans-serif;
    color: var(--color-secundary);
    font-weight: 200; /*peso da fonte - espessura*/

}
/* Control Box ==========================================================================*/
#control-box {
    margin-top: -8rem;

}
#fluxo {
    color:var(--color-secundary);
    margin-top: 0;
}
/* Cards ==========================================================================*/
.card {
    font-family: 'Roboto Slab', sans-serif;
    background: var(--color-contrast);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;  /*Arredondamento da borda*/

    margin-bottom: 2rem;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;/*separação da linha - de uma linha até a outra*/

    margin-top: 1rem;
}

.card.total {
    background: var(--color-green);
    color: var(--color-secundary)
}

/* Table ==========================================================================*/



/* footer ==========================================================================*/
footer{
    text-align: center;
    background: var(--color-main);
    padding: 8rem 0 3rem;
    margin-top: -4rem;
}