/* Global ==========================================================================*/
* {
    margin: 0; /*espaçamentos dos elementos*/
    padding: 0; /*preenchimento dos elementos*/
    box-sizing: border-box; /*contagem a partir da borda*/
}

.conteiner{
    width: min(90vw,800px);/*definir o tamanho do conteudo*/

    margin: auto;
}

/* Body ==========================================================================*/
body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

/* Header ==========================================================================*/
header {
    background: #2a337c;
    padding: 2rem 0 10rem;
    text-align: center; /*alinhamento do conteudo centralizado*/
}

#logo {
    font-family: 'Roboto Slab', sans-serif;
    color: #ffffff;
    font-weight: 80; /*peso da fonte - espessura*/

}

/* footer ==========================================================================*/
footer{
    text-align: center;
}