/* Global ==========================================================================*/
* {
    margin: 0; /*espaçamentos dos elementos*/
    padding: 0; /*preenchimento dos elementos*/
    box-sizing: border-box; /*contagem a partir da borda*/
}

/* Body ==========================================================================*/
body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

/* Header ==========================================================================*/
header {
    background: #2a337c;
    padding: 2rem 0;
    text-align: center; /*alinhamento do conteudo centralizado*/
}

header h1 {
    font-family: 'Roboto Slab', sans-serif;
    color: #ffffff;

}

#control-box {
    text-align: center;
}
