* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-primary: #6fcf4a;

    --yellow: #FFC380;
    --yellow-secundary: #ff941ae1;
    --live: #ffffff;
    --contrast: #4d4b58;
    --contrast-2: #4d4b58e1;

    --green-tertiary: #0B9A11;


    --blue-gray: #0a1116;
    --blue-frost: #6792b5;


    --red: #f12f21;

    --color-income: #3ba520;
    --color-expense: #b83b3b;


}
/* min-width: 1201px, min-width: 1024px, min-width: 769px, min-width: 481px */
@media (max-width: 1023px) {
    html {
        font-size: 93,75%; //15px
    }
}

@media (max-width: 768px) {
    html {
        font-size: 87,5%; //14px
    }
}

body {
    background: var(--live);
}

body, a, input, textarea, button {
    font: 500 0.8rem Inter, sans-serif;
    color: var(--white);
}