* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;

    --green-primary: #6fcf4a;
    --green-secundary: #a9b9a2;

    --blue-contrast: #c7d9e7;
    --blue-gray: #588EBA;
    --blue-frost: #6792b5;

    --dark-liver: #3f3e47;

    --red: #f12f21;

    --color-income: #3ba520;
    --color-expense: #b83b3b;


}
/* min-width: 1201px, min-width: 1024px, min-width: 769px, min-width: 481px */
@media (max-width: 1023px) {
    html {
        font-size: 93,75%; //15px
    }
}

@media (max-width: 768px) {
    html {
        font-size: 87,5%; //14px
    }
}

body {
    background: var(--blue-contrast);
}

body, a, input, textarea, button {
    font: 500 0.8rem Inter, sans-serif;
    color: var(--white);
}