.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 4rem;

    background: radial-gradient(58.93% 69.94% at 50% 100%, var(--yellow) 0%, var(--yellow-secundary) 70%);;

    padding: 0.5rem 1rem;
}

a {
    width: 7rem;
    height: 1rem;
}

.logo {
    width: 7rem;
    height: 1rem;
}

.user {
    display : flex;
    align-items: flex-end;
}

.user  p {
    display: flex;
    align-items: flex-end;
    font-size: 0.6rem;
    font-weight: 300;

    max-width: 8rem;
    height: 0.8rem;
    color: var(--contrast);
    padding-right: 0.5rem;
    text-align: start;
}

.user p:last-child {
    font-weight: 600;
}

.perfil {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;

    border: solid 1px var(--contrast);
}

.img-perfil {
    
    width: 100%;
    height: 100%;
}